default:
    @just --list

init:
    uv sync
    uv run pre-commit install

build:
    uv build

db-revision:
    uv run alembic revision --autogenerate

db-upgrade:
    uv run alembic upgrade head

dev: db-upgrade
    uv run fastapi dev src/{{ project_package }}/main.py

lint:
    uv run pylint src/ tests/

publish:
    uv publish

test:
    uv run pytest --cov=src --cov-report=term-missing

{% if with_tox %}
tox:
    uv run tox
{% endif %}
