default:
    @just --list

init:
    uv sync
    uv run pre-commit install

build:
    uv build

{% if with_db %}
db-revision:
    uv run alembic revision --autogenerate

db-upgrade:
    uv run alembic upgrade head
{% endif %}

dev port: {% if with_db %}db-upgrade{% endif %}
    uv run fastapi dev src/{{ project_package }}/main.py --port {% raw %}{{ port }}{% endraw %}

lint:
    uv run pylint src/ tests/

publish:
    uv publish

test:
    uv run pytest --cov=src --cov-report=term-missing

{% if with_tox %}
tox:
    uv run tox
{% endif %}
